@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');


*{
	box-sizing: border-box;
	margin:0;
	padding: 0;
}

html{
	font-size: 13px;
	font-family: 'Barlow Semi Condensed', sans-serif;
}

.main{
	height: 100vh;
	width: 100vw;
	padding: 5%;
	background: hsl(210, 46%, 95%);
	display: flex;
	align-items: center;
	justify-content: center;
}	

.main__container{
	height: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	
}
.article__group:first-child{
	width: 70%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.article__group:last-child{
	width: 23%;
	display: flex;
}
.article__group__row{
	width: 100%;
	height: 100%;
	display: flex;
}
.article__group__row:first-child{
	margin-bottom: 20px;
}

.article{
	margin-right: 20px;
	border-radius: 7px;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	background: white;
	box-shadow: 13px 27px 26px -6px rgba(72,85,106,0.15);
	-webkit-box-shadow: 13px 27px 26px -6px rgba(72,85,106,0.15);
	-moz-box-shadow: 13px 27px 26px -6px rgba(72,85,106,0.15);

}
.article__header{
	display: flex;
	align-items: center;
}
.article__header small{
	color: rgba(72, 85, 106, .5);
}
.userAvatar{
	height: 32px;
	width: 32px;
	border-radius: 50%;
	margin-right: 10px;
	background: transparent;
	padding: 1.5px;
}
.userAvatar img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}
.userDetails{
	font-size: calc(.5rem + .5vw);
	color: hsl(217, 19%, 35%);
}
.article__title h1{
	color: hsl(217, 19%, 35%);
}
.article__body{
	color: rgba(72, 85, 106, .7);
	line-height: 1.4;
}
.article h1{
	margin: 15px 0;
}

.quoted-article{
	background:	hsl(263, 55%, 52%);
	background-image: url(../../images/bg-pattern-quotation.svg);
	background-size: 17% 37%;
	background-position: 85% 0%;
	background-repeat: no-repeat;
}
.quoted-article .userAvatar{
	background:	 #b07eff !important;
}
.bg-light-grey{
	background: hsl(217, 19%, 35%);
}

.bg-dark-grey{
	background: hsl(219, 29%, 14%);
}
.bg-dark-grey .userAvatar{
	background: #b07eff !important;
}
.dark-theme h1{
	color: hsl(210, 46%, 95%) !important;
}
.dark-theme  h4{
	color: rgba(207, 207, 207, 1) !important;
}
.dark-theme  small{
	color: rgba(207, 207, 207, .5) !important;
}
.dark-theme  p{
	color: rgba(207, 207, 207, .7) !important;
}

@media screen and (max-width:500px ) {
	.main{
		height: auto;
		padding: 7%;
		overflow: visible;
	}
	.main__container{
		flex-direction: column;
		align-items: center;
	}
	.article__group{
		flex-direction: column !important;
		width: 100% !important;
		align-items: center;
	}
	.article__group__row{
		flex-direction: column;
		align-items: center;
	}
	.article{
		width: 100%;
		margin: 15px 0;
	}
	.article h1{
		width: 100%;
		margin: 15px 0;
	}
	.quoted-article{
		background-size: 30% 25%;
		background-position: 85% 0%;
		background-repeat: no-repeat;
	}
	.userDetails{
		font-size: calc(.7rem + .5vw);
	}
}